body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.nav {
    background-color:#e06b1d;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav a {
    list-style: none;
    text-decoration: none;
    margin: auto;
    padding-block: 10px;
    color: black;
}

body .booking{
    background-image: url(./food.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px; 
    display: flex;
    justify-content: center;
}

.booking-text{
    text-align: center;
    display:inline-block;
    border: 1px solid black;
    box-shadow: 5px 10px 18px #888888;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}

.booking-text h1{
    font-size: 30px;
    color: #d35400;
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400px;
}

.form-group input,select{
    flex: 2;
    font-size: 15px;
    text-transform: capitalize;
    background-color: rgb(0 0 0 /20%);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 6px;
}


.b {
    background-color: #d35400;
    color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 40%;   
    padding: 10px;
}

button:hover {
    background-color: #e67e22;
}

.form-group {
    display : flex;
    align-items: center;
    justify-content:space-between; 
    width: 100%;
    max-width: 400px;
}

.form-group label {
    color:black;
    flex: 1; 
    text-align: left;  
    padding-right: 5px;   
}





